/tngou/build
/svg/build
/libmap/build
/hellomap/build
/ggmappi/build
/AndroidSystemUiTraining-master/build
/libzxing/build
/mydemo/build
/native_ad_api/build
/qupai/build
/maputil/build
/.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
